/* this is the style sheet file for index.htlm  */

* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h2 {
  font-size: 48px;
  margin-bottom: 50px;
  color: #003e3e;
  font-weight: bold;
  font-family: 'Alegreya', 'Roboto', sans-serif;
}
.main-content {
  flex-grow: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url('../images/defineRole/index.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  background-color: #015c5d; /* Teal green */
  color: white; /* White text */
  border: none; /* Remove borders */
  border-radius: 12px; /* Rounded corners */
  padding: 10px 20px; /* Padding for button */
  width: 200px; /* Fixed width */
  margin-top: 10px; /* Top margin for spacing */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Readable font size */
  
}
button:hover {
  background-color: #A62B1F; /* Bold red on hover */
}
.dashboard-btn {
  background-color: #015c5d; /* Base green background */
}
.dashboard-btn:hover {
  background-color: #003e3e; /* Darken on hover */
}



